* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 0px, 20px;
  color: yellow;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

header.logo {
  width: 30%;
  /* chuyển hoá toàn bộ thành in Hoa */
  text-transform: uppercase;
}
header ul.menu {
  display: flex;
  list-style: none;
}
/* để chử cách nhau */
header ul.menu > li {
  padding: 20px;
  border-right: 1px solid #fff;
}
#gt:active {
  background: blue;
  color: yellow;
}
#gt:hover {
  background: blue;
  color: yellow;
}

.tt {
  float: right;
}

h1,
h2 {
  font-family: cursive;
}
#st {
  display: flex;
  align-items: center;
}
